# https://editorconfig.org/

[*.{go,proto}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Track the line length of commit messages
[.git/**]
max_line_length = 75
