# Ignore distributables folder
dist/

# Ignore vscode folder
.vscode/

# Ignore tool binaries
tools/go-generate-qemu-devices/go-generate-qemu-devices
tools/protoc-gen-go-netconn/protoc-gen-go-netconn

# Ignore swap files
*.swp
*.swo
*~
.*~
