name: github-action

on:
  push:
    branches: [stable]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [staging]
    paths:
      - 'tools/github-action/**'
      - 'buildenvs/github-action.Dockerfile'
      - 'buildenvs/qemu.Dockerfile'
      - 'buildenvs/base.Dockerfile'
      - '.github/workflows/github-action.yaml'

jobs:
  qemu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - QEMU_VERSION: 7.2.4

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build OCI image
        uses: docker/build-push-action@v4
        with:
          push: false
          file: ./buildenvs/qemu.Dockerfile
          tags: kraftkit.sh/qemu:${{ matrix.QEMU_VERSION }}
          platforms: linux/amd64
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/qemu-${{ matrix.QEMU_VERSION }}.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v3
        with:
          name: oci-images
          path: /tmp/qemu-${{ matrix.QEMU_VERSION }}.tar

  github-action:
    runs-on: ubuntu-latest
    needs: [qemu]

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver: docker

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: oci-images
          path: /tmp

      - name: Load Docker image
        run: |
          for I in /tmp/*.tar; do docker load --input "${I}"; done

      - name: Login to Registry
        uses: docker/login-action@v2
        if: ${{ github.event_name == 'push' }}
        with:
          registry: index.unikraft.io
          username: ${{ secrets.REG_USERNAME }}
          password: ${{ secrets.REG_TOKEN }}

      - name: Build OCI Image
        uses: docker/build-push-action@v4
        with:
          push: false
          load: true
          tags: kraftkit.sh/github-action:v0
          platforms: linux/amd64
          file: ./buildenvs/github-action.Dockerfile
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}

      - name: Fetch helloworld
        uses: actions/checkout@v3
        if: ${{ github.event_name != 'push' }}
        with:
          repository: unikraft/app-helloworld
          fetch-depth: 1
          path: _helloworld

      - name: Integration test
        uses: ./
        if: ${{ github.event_name != 'push' }}
        with:
          loglevel: debug
          workdir: _helloworld
          arch: x86_64
          plat: qemu
          name: helloworld
          execute: true

      - name: Push OCI Image
        uses: docker/build-push-action@v4
        if: ${{ github.event_name == 'push' }}
        with:
          push: true
          tags: index.unikraft.io/kraftkit.sh/github-action:v0
          platforms: linux/amd64
          file: ./buildenvs/github-action.Dockerfile
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}
