name: tools/protoc-gen-go-netconn

on:
  push:
    branches: [staging]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [staging]
    paths:
      - 'tools/protoc-gen-go-netconn/**'
      - '.github/workflows/gobuild-protoc.yaml'

jobs:
  build-protoc:
    runs-on: ubuntu-latest
    container: kraftkit.sh/myself-full:latest
    name: Build Check
    env:
      RUNGOGENERATE: false
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.2
          cache: false

      - name: Go caches
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ github.job }}-${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-go-

      - name: Build protoc-gen-go-netconn
        run: |
          set -x
          git config --global --add safe.directory /__w/kraftkit/kraftkit
          cd tools/protoc-gen-go-netconn
          go build -o ../../dist/

      - name: Run Help Message
        run: |
          set -x
          ./dist/protoc-gen-go-netconn -h
